@import "@/styles/mixins/media";
@import "@/styles/mixins/typography";


.wrapper {
  width: 100%;
  height: 100%;
  padding-inline:var(--s-inset);
}

.wrapProgress {
  width: 10rem;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  @include media(sm) {
    width: 15rem;
  }
}

.img {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.score {
  position: absolute;
  right: 0;
  bottom: 15%;
  left: 0;
  text-align: center;
  
  @include media(sm) {
    font-size: var(--fs-db);
  }
}

.tinyTable {
  flex-direction: row;
}

.wrapText {
  max-width: var(--w-max-df);
  text-align: center;
}

.title {
  font-size: clamp(var(--fs-lg), 3.25cqw, var(--fs-db));
  text-transform: uppercase;

  @include flicker-animation;
}

.text {
  --lfs: clamp(var(--fs-df), 3.25cqw, var(--fs-lg)) !important;
}


.form {
  width: 100%;
  max-width: var(--w-max-xs);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--s-df);
}

.btnForm {
  min-width: 100%;
}

