:root {
  // Primitives
  --c-black: #000000;
  --c-white: #ffffff;
  --c-grey: #101012;
  --c-grey-2: #818290;
  --c-grey-3: #a2a3ac;
  --c-grey-4: #c3c3c9;
  --c-grey-5: #e4e4e5;
  --c-grey-6: #f5f5f7;
  --c-accent: #101012;
  --c-accent-light: #efeaff;
  --c-error: #f44336;
  --c-info: #0065ff;
  --c-success: #4caf50;
  --c-warning: #ffb300;
  --c-body: var(--c-grey-6);
  --c-invert: var(--c-white);
  --c-invert-light: var(--c-white);
  --c-hover: var(--c-black);
  
  // Button
  --c-btn-default: var(--c-grey);
  --c-btn-light: var(--c-grey-5);
  --c-btn-accent: var(--c-accent);
  --c-btn-hover: var(--c-black);

  // Input
  --c-input-default: var(--c-grey-2);
  --c-input-hover: var(--c-black);
  --c-input-focus: var(--c-accent);
  --c-input-error: var(--c-error);
  --c-input-bg: var(--c-white);

  // Shadows
  --sw-dp4: 0 1px 3px 0 rgb(0 0 0 / 13%), 0 0 0 0 rgb(0 0 0 / 11%);
  --sw-dp8: 0 3px 7px 0 rgb(0 0 0 / 13%), 0 0 1px 0 rgb(0 0 0 / 11%);
  --sw-dp16: 0 6px 14px 0 rgb(0 0 0 / 13%), 0 1px 3px 0 rgb(0 0 0 / 11%);
  --sw-dp64: 0 25px 57px 0 rgb(0 0 0 / 22%), 0 4px 14px 0 rgb(0 0 0 / 18%);

  // Shadows inset
  --sw-inset-top: inset 0 1px 0 0 var(--c-grey-5);
  --sw-inset-right: inset -1px 0 0 0 var(--c-grey-5);
  --sw-inset-bottom: inset 0 -1px 0 0 var(--c-grey-5);
  --sw-inset-left: inset 1px 0 0 0 var(--c-grey-5);
}
