{
  "extends": ["stylelint-config-standard-scss"],
  "plugins": ["stylelint-order", "stylelint-scss"],
  "rules": {
    "declaration-block-no-redundant-longhand-properties": [
      true,
      { "ignoreShorthands": ["grid-template", "padding", "margin"] }
    ],
    "indentation": [2],
    "block-no-empty": true,
    "color-hex-alpha": "never",
    "color-hex-length": "long",
    "scss/double-slash-comment-whitespace-inside": "always",
    "selector-class-pattern": ["^[a-z][a-zA-Z0-9]+$"],
    "order/properties-order": [
      "appearance",
      "box-sizing",
      "content",
      
      "cursor",
      "pointer-events",
      
      "overflow",
      "overflow-x",
      "overflow-y",
      
      "opacity",
      
      "width",
      "min-width",
      "max-width",
      "height",
      "min-height",
      "max-height",
      
      "block-size",
      "min-block-size",
      "max-block-size",
      
      "inline-size",
      "min-inline-size",
      "max-inline-size",
      
      "grid-area",
      "display",
      "visibility",
      
      "position",
      "top",
      "right",
      "bottom",
      "left",
      "z-index",
      
      "flex",
      "flex-basis",
      "flex-grow",
      "flex-shrink",
      "flex-flow",
      "flex-direction",
      "flex-wrap",
      "order",
      
      "grid",
      "grid-columns",
      "grid-rows",
      "grid-start",
      "grid-end",
      "grid-after",
      "grid-before",
      "grid-column-start",
      "grid-column-end",
      "grid-row-start",
      "grid-row-end",
      "grid-column",
      "grid-row",
      "grid-template",
      "grid-template-columns",
      "grid-template-rows",
      "grid-template-areas",
      "grid-auto-columns",
      "grid-auto-rows",
      "grid-auto-flow",
      
      "justify-self",
      "justify-content",
      "justify-items",
      "align-self",
      "align-content",
      "align-items",
      "place-self",
      "place-content",
      "place-items",
      
      "gap",
      "grid-column-gap",
      "column-gap",
      "grid-row-gap",
      "row-gap",
      
      "margin",
      "margin-top",
      "margin-right",
      "margin-bottom",
      "margin-left",
      "margin-block",
      "margin-block-start",
      "margin-block-end",
      "margin-inline",
      "margin-inline-start",
      "margin-inline-end",
      
      "padding",
      "padding-top",
      "padding-right",
      "padding-bottom",
      "padding-left",
      "padding-block",
      "padding-block-start",
      "padding-block-end",
      "padding-inline",
      "padding-inline-start",
      "padding-inline-end",
      
      "outline",
      "outline-width",
      "outline-offset",
      "outline-style",
      "outline-color",
      
      "border",
      "border-top",
      "border-right",
      "border-bottom",
      "border-left",
      "border-width",
      "border-top-width",
      "border-right-width",
      "border-bottom-width",
      "border-left-width",
      "border-style",
      "border-top-style",
      "border-right-style",
      "border-bottom-style",
      "border-left-style",
      "border-radius",
      "border-top-left-radius",
      "border-top-right-radius",
      "border-bottom-right-radius",
      "border-bottom-left-radius",
      "border-color",
      "border-top-color",
      "border-right-color",
      "border-bottom-color",
      "border-left-color",
      
      "background",
      "background-attachment",
      "background-clip",
      "background-color",
      "background-image",
      "background-repeat",
      "background-position",
      "background-size",
      
      "box-shadow",
      
      "fill",
      "stroke",
      "stroke-width",
      "stroke-linecap",
      "stroke-dasharray",
      "stroke-dashoffset",
      
      "font",
      "font-family",
      "font-weight",
      "font-size",
      "font-size-adjust",
      "font-style",
      "font-smoothing",
      "font-stretch",
      "font-variant",
      "font-emphasize",
      "font-emphasize-position",
      "font-emphasize-style",
      "line-height",
      "letter-spacing",
      "list-style",
      "list-style-position",
      "list-style-type",
      "list-style-image",
      "text-align",
      "text-align-last",
      "vertical-align",
      "text-decoration",
      "text-decoration-color",
      "text-decoration-line",
      "text-decoration-style",
      "text-indent",
      "text-justify",
      "text-overflow",
      "text-overflow-ellipsis",
      "text-overflow-mode",
      "text-rendering",
      "text-outline",
      "text-shadow",
      "text-transform",
      "text-emphasis",
      "text-emphasis-color",
      "text-emphasis-style",
      "text-emphasis-position",
      "text-wrap",
      "word-wrap",
      "word-break",
      "white-space",
      "word-spacing",
      "hyphens",
      "color",
      
      "transform-origin",
      "transform",
      "transform-box",
      "transform-style",
      "backface-visibility",
      "perspective",
      "perspective-origin",
      
      "transition",
      "transition-property",
      "transition-duration",
      "transition-timing-function",
      "transition-delay",
      
      "animation",
      "animation-name",
      "animation-duration",
      "animation-play-state",
      "animation-timing-function",
      "animation-delay",
      "animation-iteration-count",
      "animation-direction"
    ]
  }
}
