@import "@/styles/mixins/media";

.wrapper {
  --lsize-light: 5vw;
  
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  touch-action: manipulation;
  -webkit-touch-callout: none;
}

.img {
  width: auto;
  height: 100%;
  position: relative;
  z-index: var(--z-index-1);
  fill: var(--c-body);
  aspect-ratio: 3/2;
}

.light {
  pointer-events: none;
  opacity: var(--lop-light);
  width: var(--lsize-light);
  height: var(--lsize-light);
  position: absolute;
  top: var(--ly-cursor);
  left: var(--lx-cursor);
  z-index: var(--z-index-0);
  border-radius: 50%;
  background-color: var(--c-grey);
  transform: translate(-50%, -250%);
  transition: opcaity 0.25s cubic-bezier(0.215, 0.61, 0.355, 1), transform 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);;
  
  @include media(noTouch) {
    transform: translate(-50%, -150%);
  }
}

.wrapper:hover {
  cursor: none;
}

@include media(noTouch) {
  .wrapper:hover .light {
    --lop-light: 1;
  }
  
}

.easy {
  --lsize-light: 10vw;
}

.medium {
  --lsize-light: 7.5vw;
}

.hard {
  --lsize-light: 5vw;
}

@include media(touch) {
  .wrapper {
    --lsize-light: 20vw;
  }
}

// Cta
.cta {
  --lfs-label: var(--fs-lg);

  margin-block: var(--s-xxl);
  
  @include media(sm) {
    --lfs-label: var(--fs-xxl);
  }
  
}

.labelCta {
  font-weight: var(--fw-bold) !important;
}
