@import "@/styles/mixins/media";
@import "@/styles/mixins/typography";

.wrapper {
  padding: var(--s-inset);
}

.img {
  --lh-img: 5rem;
  
  width: 100%;
  height: var(--lh-img);
  fill: var(--c-accent);
  
  @include media(sm) {
    --lh-img: 10rem;
  }
}

.title {
  font-size: clamp(var(--fs-xxl), 3.25cqw, var(--fs-tr));
  text-transform: uppercase;

  @include flicker-animation;
}
