@import '@/styles/mixins/media';
@import '@/styles/mixins/overflow';

.main {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4rem 1fr auto;
  grid-template-areas: 'header' 'content' 'footer';
  
  @supports (height: 100dvh) {
    height: 100dvh;
  }
}

.header {
  grid-area: header;
}

.content {
  grid-area: content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  grid-area: footer;
}
