.wrapper {
  width: 100%;
  max-width: var(--w-max-sm);
  height: 100%;
  padding-inline:var(--s-inset);
}

.title {
  margin-bottom: var(--s-xxl);
  font-size: clamp(var(--fs-xxl), 3.25cqw, var(--fs-tr));
}
