@import "@/styles/mixins/media";

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: var(--s-sm);
  padding-block: var(--s-sm);
  padding-inline: var(--s-inset);
  
  @include media(sm) {
    flex-direction: row;
  }
}
