@import "@/styles/mixins/media";

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: var(--s-sm);
  padding-block: var(--s-sm);
  padding-inline: var(--s-inset);
  
  @include media(sm) {
    flex-direction: row-reverse;
  }
}


// Main menu
.mainMenu {
  display: flex;
  align-items: center;
  gap: var(--s-xxs);
}

.itemMenu {
  --lfs-label: var(--fs-sm) !important;
}

// Copyright and GitHub
.copyrightMenu {
  width: fit-content;
  flex-direction: column;
  align-items: center;
  gap: var(--s-uxs);
  
  @include media(sm) {
    flex-direction: row-reverse;
  }
}

.divider {
  display: none;
  
  @include media(sm) {
    display: inherit;
  }
}


