.wrapper {
  --lw-line: 100%;
  --lh-line: 1px;

  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: var(--ls);
}

// If theme line
.line {
  width: var(--lw-line);
  height: var(--lh-line);
  background: var(--lc-line);
}

// If theme vertical
.vertical {
  --lw-line: 1px;
  --lh-line: 100%;

  width: fit-content;
  align-self: stretch;
  margin-block: 0;
  margin-inline: var(--ls);
}
