@import "@/styles/mixins/media";

.main {
  cursor: none;
  pointer-events: none;
  overflow: hidden;
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--s-inset);
  background-color: var(--c-accent);
  animation: click-animation var(--lt-animation) cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}

@keyframes click-animation {
  0% {
    cursor: none;
    pointer-events: none;
  }
  
  90% {
    cursor: pointer;
    pointer-events: initial;
  }
  
  100% {
    cursor: pointer;
    pointer-events: initial;
  }
}

.wrapper {
  width: 100%;
  max-width: var(--w-max-sm);
  position: relative;
}

.light {
  --lsize-light: 20cqw;
  
  width: var(--lsize-light);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: var(--z-index-1) !important;
  translate: -50% -50%;
  scale: 0;
  border-radius: 50%;
  aspect-ratio: 1/1;
  background-color: var(--c-body);
  animation: light-animation var(--lt-animation) cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
  
  @include media(sm) {
    --lsize-light: 20%;
  }
}

@keyframes light-animation {
  10% {
    scale: 1;
    translate: -50% -50%;
  }
  
  20% {
    scale: 1;
    translate: 150% 10%;
  }
  
  35% {
    scale: 1;
    translate: -250% 10%;
  }
  
  40% {
    scale: 1;
    translate: -275% -125%;
  }
  
  70% {
    scale: 1;
    translate: 175% -150%;
  }
  
  80% {
    scale: 1;
    translate: -50% -50%;
  }
  
  98% {
    scale: 100;
    translate: -50% -50%;
  }
  
  100% {
    scale: 100;
    translate: -50% -50%;
  }
}

.content {
  width: 100%;
  position: relative;
  z-index: var(--z-index-2);
  text-align: center;
}

.logo {
  width: 100%;
  fill: var(--c-accent);
}

.subtitle {
  position: relative;
  z-index: var(--z-index-2);
  font-size: clamp(var(--fs-xxl), 3.25cqw, var(--fs-tr));
}

.img {
  --lh-img: 5rem;
  
  width: 100%;
  height: var(--lh-img);
  position: relative;
  z-index: var(--z-index-2);
  fill: var(--c-accent);
  
  
  @include media(sm) {
    --lh-img: 10rem;
  }
  
  @include media(xl) {
    --lh-img: 15rem;
  }
}
