@import "@/styles/mixins/media";
@import "@/styles/mixins/typography";

.wrapper {
  padding-inline: var(--s-inset);

}

.wrapText {
  max-width: var(--w-max-sm);
  text-align: center;
}

.title {
  font-size: clamp(var(--fs-big), 3.25cqw, var(--fs-qr));
  text-transform: uppercase;

  @include flicker-animation;
}


.text {
  --lfs: clamp(var(--fs-lg), 3.25cqw, var(--fs-xxl)) !important;
}


.wrapBtn {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--s-df);
  
  @include media(sm) {
    flex-direction: row;
  }
}


.btn {
  min-width: 100%;
  
  @include media(sm) {
    min-width: 10rem;
  }
}
