.wrapper {
  --lsize-light: 5vw;
  
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.img {
  width: auto;
  height: 100%;
  fill: var(--c-body);
  aspect-ratio: 3/2;
  position: relative;
  z-index: var(--z-index-1);
}

.cursor {
  width: var(--lsize-light);
  height: var(--lsize-light);
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  top: var(--ly-cursor);
  left: var(--lx-cursor);
  z-index: var(--z-index-0);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: var(--c-grey);
}

.wrapper:active,
.wrapper:hover {
  cursor: none;
}

.wrapper:active .cursor,
.wrapper:hover .cursor {
  visibility: visible;
}

.easy {
  --lsize-light: 10vw;
}

.medium {
  --lsize-light: 7.5vw;
}

.hard {
  --lsize-light: 5vw;
}
